<section id="longsearchParent">
  <form [formGroup]="longForm">
    <section id="keywordsInput">
      <input formControlName="keywords" />
      ng if
    </section>
    <select id="careerAndSubjects">
      <option formControlName="careers"></option>
      <option formControlName="subjects"></option>
    </select>
    <select id="strandsOutcomeCompetency">
      <option formControlName="strands"></option>
      <option formControlName="outcome"></option>
      
      <option formControlName="competency">ng if</option>
    </select>
    <select id="gradeClusterStandard">
      <option formControlName="grade"></option>
      <option formControlName="cluster"></option>
      <option formControlName="standard">ng if</option>
    </select>
  </form>
</section>
