<section id="quicksearch">
  <h1 id="quicksearchheading">Quick Search</h1>
  <section id="searchbox">
    <form>
      <section id="kewords">
        <label id="keywordslabel">Keywords</label>
        <input name="keywords" type="text" /><i class="fas fa-search"></i>
      </section>
      <section id="optionssection">
        <p>Career Field</p>
        <select>
          <option>example</option>
        </select>
        <p>Academic Subjects</p>
        <select>
          <option>example</option>
        </select>
      </section>
      <section id="submitsection">
        <button>Cancel</button>
        <button>Search</button>
      </section>
      <a id="advancedsearchlink"href="#">Advanced Search</a>
    </form>
  </section>
</section>
