<section id="quicksearch">
  <h1>Quick Search</h1>
  <section id="searchbox">
    <form>
      <label id="keywordslabel">Keywords</label>
      <input name="keywords" type="text" /><i class="fas fa-search"></i>
      <p>Career Field</p>
      <select>
        <option>example</option>
      </select>
      <p>Academic Subjects</p>
      <select>
        <option>example</option>
      </select>
      <button>Cancel</button>
      <button>Search</button>
      <a id="advancedsearchlink"href="#">Advanced Search</a>
    </form>
  </section>
</section>
