<section id="homecomponent">
  <section class="row"id="topsection">
    <app-landingtext class="block col-md-6" id="landingtext"></app-landingtext>
    <app-quicksearch class="block col-md-6" id="quicksearch"></app-quicksearch>
  </section>
  <section id="midsection">
    <app-midtext id="midtext"></app-midtext>
  </section>
  <section id="aboutsection">
    <app-about id="about"></app-about>
  </section>
  <section id="bottomsection">
    <app-endtext id="endtext"></app-endtext>
  </section>
</section>
