<section id="bottomnav">
  <section id="navlinks">
    <ul>
      <li><button type="button"><i class="fas fa-bars"></i></button></li>
      <li class="linktext">Navigation Link 1</li>
      <li class="linktext">Navigation Link 1</li>
      <li class="linktext">Navigation Link 1</li>
    </ul>
  </section>
  <section id="socialmedialinks">
    <ul>
      <li><i class="fab fa-facebook-f"></i></li>
      <li><i class="fab fa-twitter"></i></li>
      <li><i class="fab fa-youtube"></i></li>
      <li><i class="fab fa-instagram"></i></li>
      <li><i class="fas fa-rss"></i></li>
    </ul>
  </section>
</section>
