<section class="row" id="bottomnav">
  <section id="navlinks">
    <ul class="navlist">
      <li class="listitem"><button type="button"><i class="fas fa-bars"></i></button></li>
      <li  class="listitem">Navigation Link 1</li>
      <li class="listitem">Navigation Link 1</li>
      <li class="listitem">Navigation Link 1</li>
    </ul>
  </section>
  <section id="socialmedialinks">
    <ul class="navlist">
      <li class="listitem"><i class="fab fa-facebook-f"></i></li>
      <li class="listitem"><i class="fab fa-twitter"></i></li>
      <li class="listitem"><i class="fab fa-youtube"></i></li>
      <li class="listitem"><i class="fab fa-instagram"></i></li>
      <li class="listitem"><i class="fas fa-rss"></i></li>
    </ul>
  </section>
</section>
