#bottomnav{
  background-color: darkred;
  text-align:center;
}

li.linktext{
  text-decoration:none;
  color: white;
}
li{
  list-style: none;
}
.fab, .fas {
  color: white;
}

.navlist {
  text-align: center;
}
.listitem {
  display: inline-block;
  color: white;
}
.itemlink{
  margin-left: 5px;
  margin-right: 5px;
}
